Answer1:-

In [3]:
""" Comments in python are identified with a hash symbol # and extend to the end of the line.
  There are two ways to write a comment: (1)Single line comment
                                            (2)Multilined comment"""

' Comments in python are identified with a hash symbol # and extend to the end of the line.\n  There are two ways to write a comment: (1)Single line comment\n                                            (2)Multilined comment'

Answer2:-

In [4]:
## Variables are reserved memory locations to store value. That means creating a variable is reserving some space in memory of the system.

a = 10

In [6]:
a

10

In [7]:
## here (a) is a variable which assign the value of 10

Answer3:-

In [11]:
l = [1,2,3,4]

In [12]:
tuple(l)

(1, 2, 3, 4)

In [13]:
## like that we can convert one datatype to another. let us take another example;

In [14]:
set(l)

{1, 2, 3, 4}

In [15]:
str(l)

'[1, 2, 3, 4]'

Answer4:-

In [16]:
name = "vishakha"

In [19]:
print("my name is " + name)

my name is vishakha

Answer5:-

In [20]:
my_list = [1,2,3,4,5]

In [28]:
my_list[1:3]

[2, 3]

Answer6:-

In [29]:
## Complex number in mathematics is a sum of real part and imaginary part.it can be represented in python as:

In [31]:
2+3j

(2+3j)

Answer7:-

In [34]:
d = {"Age" : 25}

Answer8:-

In [37]:
price = 9.99

In [38]:
type(price)

float

In [39]:
## This is a floating point.

Answer9:-

In [40]:
d1 = {name : "vishakha"}

In [44]:
d1.values()

dict_values(['vishakha'])

Answer10:-

In [45]:
s = "hello world"

In [47]:
s[6: ]

'world'

Answer11:-

In [ ]:
"is_student" = True